.web3modal-modal-lightbox {
    z-index: 99999999 !important;
}

.gradient-orange-text {
    background: linear-gradient(310deg, #ff8b00 0%, #fc2415 100%);
    background: -webkit-linear-gradient(310deg, #ff8b00 0%, #fc2415 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    width: 100%;
    text-align: center;
    padding: 16px 40px;
    color: #FDCA2F;
    font-weight: 800;
    background: #ffffff;
    border: 2px dashed #FDCA2F;
    border-radius: 10px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background: #FDCA2F;
    color: #ffffff;
    border: 2px dashed #ffffff;
}

a {
    cursor: pointer !important;
}

/* Toast */

.toast-notification {
    z-index: 999999999 !important;
}

.toast-notification span {
    border: 2px dashed rgba(255, 255, 255, .2);
    background: linear-gradient(310deg, #ff8b00 0%, #fc2415 100%) !important;
    color: white;
    margin-top: 10px;
    border-radius: 10px !important;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-weight: 800 !important;
    padding: 20px !important;
}

/* Mui and antd overrides */

.MuiStepLabel-root:not(.Mui-disabled) span,
.MuiStepLabel-root:not(.Mui-disabled) p {
    font-weight: 800 !important;
    color: rgba(0, 0, 0, .3) !important;
}

.MuiStepLabel-root:not(.Mui-disabled) svg {
    color: #F42D29 !important;
}

.MuiStepLabel-root.Mui-disabled svg {
    color: #F42D29 !important;
    opacity: .5 !important;
}

.ant-modal {
    border-radius: 10px !important;
    overflow: hidden !important;
}

.ant-modal-mask {
    background: rgba(0, 0, 0, 0.85) !important;
    z-index: 99999 !important;
}

.ant-modal-wrap {
    z-index: 9999999 !important;
}

.ant-modal-content {
    padding: 0 !important;
}